<footer>
    <div style="margin-bottom: 12px;">
        <a href="/impressum">Impressum</a> | 
        <a href="/datenschutzerklaerung">Datenschutz</a> | 
        <a href="/tos">Nutzungsbedingungen</a>
    </div>
    made by <span class="made-by" style="font-weight: 600; color: var(--accent-color);">MaxiFaxiPaxi</span>
</footer>
